.Jezu{height:5500px; width:1080px;float:left;margin-top:20px;margin-left:20px;}
.Header{height:450px;width:1080px;background-color:black; float:left;}
.main11{height:60px;width:100px;padding-top:10px;float:left;margin-left:30px;}
.main12{height:60px;width:160px;padding:10px;float:left;}
.main13{height:60px;width:600px;padding:10px;float:left;}
.Head1{height:300px;width:595px;float:left;margin-left:70px;}
.Head2{height:300px;width:300px;float:left;background-color:white;}
.Intro{height:230px;width:1080px;float:left;margin-top:70px;}
.i1{height:230px;width:200px;float:left;margin-left:50px;}
.i2{height:230px;width:200px;float:left;margin-left:100px;}
.i3{height:190px;width:200px;float:left;margin-left:100px;}
.Para{height:420px;width:1000px;float:left;margin-top:100px;margin-left:20px;margin-right:20px;}
.P1{height:420px;width:675px;font-size:26px;float:left;padding:15px;float:left;font-family:Century;}
.P2{height:420px;width:255px;font-size:25px;float:left;padding-top:30px;}
.Link{height:450px;width:1000px;margin-top:100px;margin-left:20px;margin-right:20px;float:left;}
.L1{height:450px;width:650px;font-size:27px;padding-top:50px;padding-left:20px;float:left;font-family:Century;}
.L2{height:435px;width:330px;float:left;padding-top:15px;}
.verse{height:4000px;width:1000px;margin-top:50px;float:left;margin-right:20px;}
.V1{height:400px;width:900px;float:left;font-size:27px; padding-left:100px;}
.V2{height:400px;width:900px;float:left;font-size:27px; margin-top:100px; padding-left:100px;}
.V3{height:400px;width:900px;float:left;font-size:27px; margin-top:100px;padding-left:100px;}
.V4{height:400px;width:900px;float:left;font-size:27px; margin-top:100px;padding-left:100px;}
.V5{height:400px;width:900px;float:left;font-size:27px; margin-top:100px;padding-left:100px;}
.V6{height:400px;width:900px;float:left;font-size:27px; margin-top:100px;padding-left:100px;}
.V7{height:400px;width:900px;float:left;font-size:27px; margin-top:100px;padding-left:100px;}
.V8{height:400px;width:900px;float:left;font-size:27px; margin-top:100px;padding-left:100px;}
.pic{height:800px;width:1080px;padding:20px;float:left; margin-top:100px; margin-left:10px;}